li {
    list-style-type: circle;
    
}

nav {
    background-color: rgb(161, 131, 54);
    width : 20%;
    padding-top: 10px;
    padding-bottom: 500px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    position: relative;
    font-size: x-large;
    float: left;
    color : white;
    box-shadow: 6px 6px 0px black;
}

.info_perso {
    position: absolute;
    text-align: left;
    margin-left: 45px;
    font-size: large;
    
    
}

#Projet_pro {
    border : 5px rgb(211, 128, 33) groove;
    position: absolute;
    margin-top: 200px;
    margin-left : 60px;
    margin-right: 60px;
    text-align: center;
    padding : 10px;
    font-size: large;
}


section{
    position : absolute;
    left : 470px;
    width : 1000px;
    font-size: large;
}

.bg_brown{
    background-color: rgb(122, 79, 45);
    padding : 10px;
    width: 400px;
    
    
}
.bg_gold{
    background-color: rgb(161, 131, 54);
    padding : 10px;
    width: 400px;
}

.experience_stage {
    position: absolute;
    top : 100px;
    left :450px;
    padding : auto;

}

.formation {
    position: absolute;
    top :300px;
    
}

.projet_perso{
    position: absolute;
    top :500px;

}
.langues{
    position: absolute;
    top : 700px;

}
.logiciels{
    position: absolute;
    top :900px;

}
.interets{
    position: absolute;
    top: 1100px;

}
.languages_info{
    position: absolute;
    top : 1300px;

}