li {
    list-style-type: circle;
    
}

nav {
    background-color: rgb(148, 138, 84);
    width : 20%;
    padding-top: 10px;
    padding-bottom: 800px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    position: relative;
    font-size: x-large;
    float: left;
    color : white;
    box-shadow: 6px 6px 0px black;
    left : 300px;
}

.info_perso {
    position: absolute;
    text-align: left;
    margin-left: 45px;
    font-size: large;
    
    
}

#Projet_pro {
    border : 5px rgb(211, 128, 33) groove;
    position: absolute;
    margin-top: 400px;
    margin-left : 60px;
    margin-right: 60px;
    text-align: center;
    padding : 10px;
    font-size: large;
}


.section{
    position : absolute;
    left : 800px;
    width : 1000px;
    font-size: large;
    font-family: century gothic;
    background-color: white;
    
}


.experience_stage {
    position: absolute;
    top : 100px;
    left :15px ;
    padding : auto;
    

}
#list_exp{
    position: relative;
    left : 0px;
    top : 50px;
}

.formation {
    position: absolute;
    top :300px;
    
}
#list_formation{

}

.projet_perso{
    position: absolute;
    top :500px;

}

#list_projet_perso{
    
}
.langues{
    position: absolute;
    top : 700px;

}
.logiciels{
    position: absolute;
    top :900px;

}
#list_logiciels {

}

.interets{
    position: absolute;
    top: 1100px;

}
#list_interets{

}
.languages_info{
    position: absolute;
    top : 1300px;

}
#list_languages_info{

}

.bg_brown{
    position: absolute;
    background-color: rgb(74, 69, 42);
    padding : 10px;
    width: 400px;
    color : white;
    
    
}
.bg_gold{
    position: absolute;
    background-color: rgb(148, 138, 84);
    padding : 10px;
    width: 400px;
    color : white;
}

.bg_top_brown{
    position: absolute;
    background-color: rgb(74, 69, 42);
    padding : 10px;
    width: 700px;
    color : white;
}